.section--hero {
  background: var(--bg);
  color: var(--white);
  .section-container {
    padding-top: 68px;
    padding-bottom: 68px;
  }

  @media screen and (max-width: 767px) {
    .section-container {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}
