.section--rules {
  padding-top: 70px;
  padding-bottom: 146px;
  z-index: 2;
}

.rules {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  gap: 50px;
  padding: 24px 30px;
  border-radius: 46px;
  background: radial-gradient(70% 240.71% at 49.62% 52.1%, rgba(255, 255, 255, 0.9) 0%, rgba(244, 219, 108, 0.9) 100%);
  color: var(--brown);
  text-align: center;
  counter-reset: item;

  li {
    position: relative;
    width: calc((100% - 4 * 50px) / 5);
    &:before {
      content: counter(item, decimal-leading-zero);
      counter-increment: item;
      font-family: var(--serif);
      font-size: 128px;
      line-height: 1;
      opacity: 0.1;
    }
    .button {
      position: absolute;
      width: 204px;
      left: 50%;
      transform: translate(-50%, 0%);
    }
    .title {
      position: relative;
      width: calc(100% + 50px);
      transform: translate(-25px, 0%);
      color: var(--red);
      margin-bottom: 4px;
      margin-top: -45px;
    }
    p {
      font-size: 18px;
      line-height: 1.1;
      margin-bottom: 8px;
    }
  }
}
