.section--test {
  overflow: hidden;
  color: var(--white);
  .section-container {
    justify-content: center;
  }
}

.test {
  width: 100%;
  margin-top: 100px;
  .title--h2 {
    max-width: 634px;
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
    strong {
      color: var(--biege);
    }
  }
}

.step-counter {
  display: inline-block;
  color: var(--red);
  font-family: var(--serif);
  font-size: 32px;
}

.steps {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
  height: auto;
  border: 1px solid tomato;
}

.step {
  display: none;
  width: 100%;
  position: relative;
  padding-left: 50px;
  color: var(--biege);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s;
  > .step {
    padding-left: 0px;
  }
  &.active {
    display: inline-block;
  }
  &.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .white {
    color: var(--white);
  }
}

.step__text {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  width: 55%;
  max-width: 488px;
  float: left;
  &.full {
    width: 100%;
    max-width: 650px;
  }
  h2 {
    font-size: 48px;
    line-height: 1;
  }
  h3 {
    font-size: 46px;
    line-height: 1;
  }
  b {
    font-size: 32px;
    line-height: 1;
    font-family: var(--serif);
  }
  p {
    font-size: 24px;
    line-height: 1.2;
    margin-top: 36px;
  }
  span,
  p {
    color: var(--white);
  }
}

.step__actions {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 30px;
  width: 44%;
  max-width: 400px;
  float: right;
  .form {
    max-width: 100%;
    width: 100%;
    .download-file {
      width: 100%;
      height: 400px;
    }
    .label-for-file {
      width: 100%;
      max-width: 100%;
      height: 100%;
      border: 2px dashed var(--biege);
      border-radius: 46px;
      background-color: rgba(0, 0, 0, 0);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      &:hover {
        border: 2px dashed var(--white);
      }
      .label__text {
        margin: 0;
        font-size: 24px;
        color: #808080;
      }
      img {
        position: absolute;
        width: 100px;
        height: 90px;
      }
    }
  }
}
